.phnumber{
    font-size: 50px;
  
}
.slideimg{
    height: 365px;
    object-fit: cover;
    filter: brightness(100%);
}
.quote{
    font-size: 60px;
    font-family:Brush Script MT, Brush Script Std, cursive;
}
.description{
color:white;
font-size: 17px;
margin-top: 30%;
margin-right: 0px;
}
.fine_art{
    font-size: 30px;
}
.gallery{
    font-size: 60px;
    font-family:Brush Script MT, Brush Script Std, cursive;
}

 